<section class="about" id="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <div class="about-content">
      <div class="about-text">

        <div class="about-section">
          <h3>What I Do</h3>
          <p>
            I am currently living in Reno, Nevada working part time helping my family and developing personal projects. I am actively looking for full time
            opportunities in Software Development, Data Science, Data Engineering, or Machine Learning roles. I have a strong passion for being able to create things
            with code and data that can help people or just improve efficiency of tasks.
          </p>
        </div>

        <div class="about-section">
          <h3>Background</h3>
          <p>
            I have experience working with a wide variety of programming languages and experience quickly adapting to new technologies and challenges. Was taught in school
            how to think critically and solve problems effectively. Have experience through past internships creating web applications, working with large datasets and handling
            client needs. 
          </p>
        </div>

        <div class="about-section">
          <h3>Outside of Work</h3>
          <p>
            On my free time I enjoy reading science fiction and fantasy novels, recently just started
            reading "Malazan Book of the Fallen" series by Steven Erikson. I also love cycling and pickleball 
            (even though I never win). Lately I have been into Factorio K2SE modpack - the factory must grow!
          </p>
        </div>

      </div>
    </div>
  </div>
</section>